div.panel {
	position: relative;
	border: 1px solid blue;
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #D9E2EA;
}

div.food {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: red;
	border-left: 1px solid white;
	border-right:1px solid black;
	border-top: 1px solid white;
	border-bottom: 1px solid black;
}

div.snake {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: green;
	border-left: 1px solid white;
	border-right:1px solid black;
	border-top: 1px solid white;
	border-bottom: 1px solid black;
}

div.dialog {
	position: relative;
	border: medium solid gray;
	width: 200px;
	height: 100px;
	text-align: center;
	background-color: #DFE1E3;
	color: red;
	font-size: 30;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	line-height: 100px;
	margin-top: 150px;
}

