.debug_console {
	position: fixed;
	width: 98%;
	height: 150px;
	overflow: scroll;
	border: 1px solid black;
	bottom: 0px;
}

.debug_hidden {
	position: absolute;
	height: 152px;
	border: 0px solid blue;
}